<h1>Model Information</h1>

<%= link_to @model.name, model_path(@model) %> | <%= link_to 'edit', edit_model_path(@model) %> |
	<%= link_to 'delete', @model, method: :delete, data:{confirm: 'Are you sure you want to delete this?'} %>


<br/><br/>
<%= link_to 'index', root_path %>
<%= link_to 'new', new_model_path %>